@charset "UTF-8";
/*-----Шрифти-----*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap");
/*----------------*/
body {
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  margin: 0 auto;
}

caption {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

td {
  width: 33.3%;
  text-align: center;
  font-size: 24px;
  color: aliceblue;
}

.brigade img {
  max-width: 40%;
  height: 70%;
}

.navigation {
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__links {
  min-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

.navigation__link a {
  border-radius: 15px;
  padding: 4px 20px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.navigation__link a:visited {
  color: #000;
}

.navigation__link a:hover {
  animation-name: anm__for__menu;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.navigation__link:hover {
  animation-name: anm__for__menu;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.navigation__link:nth-child(3) {
  text-decoration: underline;
}

@keyframes anm__for__menu {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #5c6ac5;
    color: #fff;
  }
}
